<div id="confirmModal" class="modal modal-center js-modal">
  <div class="modal_bg"></div>
  <div class="modal_content -center">
    <div class="modal-caption"></div>
    <div class="modal-body d-flex justify-content-center"></div>
  </div>
</div>
