<!-- Select Product Modal -->
<div id="checkinHistoryModal" class="modal js-modal">
  <div class="modal_bg js-modal-close" data-target="#checkinHistoryModal"></div>
  <div class="modal_content -fullscreen">
    <div class="modal-header">
      <button class="close col-1 js-modal-close" data-target="#checkinHistoryModal">
        <i class="icon icon-Arrow-left"></i>
      </button>
      <div class="modal-title col-10 text-center"><%= t 'select_product.history' %></div>
      <div class="col-1"></div>
    </div>
    <div class="modal-body">
    </div>
    <div id="no-history" class="no-history hide">
      <p><%= t "select_product.no_history" %></p>
    </div>
  </div>
</div>
<!-- Select Product Modal -->
