<% content_for(:title, t('console.supplier.add_supplier')) %>
<div class="card">
  <%= form_with(model: @supplier, url:console_supplier_path, local: true) do |form| %>
  <%= render 'form', {supplier: @supplier, roles: @roles, f: form} %>
  <% end %>
</div>
