<div id="confirmationModalDownload" class="modal fade mt-5" tabindex="-1">
  <div class="modal-dialog mt-5">
    <div class="modal-content bg-light">
      <div class="p-5">
        <div class="text-center">
          <p class="text-center font-weight-bold text-large"><%= t 'console.subscription.confirmation_select_box'%></p>
          <p class="text-center text-normal"><%= t 'console.subscription.confirmation' %></p>
        </div>
      </div>
      <div >
        <div class="modal-footer border-0 justify-content-center flex-nowrap">
          <button id="cancelRequestMoreTime" type="button" class="text-large btn-base -thin -normal" data-dismiss="modal"><%= t 'console.subscription.ok' %></button>
        </div>
      </div>
    </div>
  </div>
</div>