<div class="modal fade" id="search_tag_guide" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body text-label">
        <%= image_tag  'search-tag-guide.png', class: 'img-fluid px-5 mb-3' %>
        <%= t('admin.shop_setting.guide_html')%>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <p class="text-color-disabled text-small">
          <%= t('admin.shop_setting.close_info')%>
        </p>
      </div>
    </div>
  </div>
</div>