<div class="modal fade" id="processingSubsModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog mt-5 w-md-25 modal_vertical_center" role="document">
    <div class="modal-content">
      <div class="modal-body px-3 text-center">
        <p class="text-normal"><%= t 'admin.subscription.processing_subs_info' %></p>
        <%= link_to 'OK', admin_subscriptions_path, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>
