<% content_for(:title, t('console.bike_model.edit_moel')) %>

<div class="card">
  <%= form_with(model: @bike_model, url: console_bike_model_path, local: true) do |form| %>
  <%= render 'form', {bike_model: @bike_model, f: form} %>
  <% end %>
</div>
