<% content_for(:title, 'Admin Product Import') %>

<%= form_with model: @admin_product_collection, url: console_admin_products_import_execution_path, multipart: true, local: true do |form| %>
  <div class="card content-datatable">
    <%= render 'form_import', {f: form} %>
  </div>
<% end %>

