<% content_for(:title, 'Shop Product Import') %>
<div class="card">
  <%= form_with model: @shop_product_upload, url: console_shop_products_import_confirm_path, multipart: true, local: true do |form| %>
    <%= render 'form_upload', {shop_product_upload: @shop_product_upload, f: form} %>
  <% end %>
</div>
