<div>
    <% if user_signed_in? %>
        <% if current_user.otp_required_for_login %>
            <%= button_to 'Disable 2FA', two_factor_auth_path, method: :delete %>
        <% else %>
            <%= button_to 'Enable 2FA', new_two_factor_auth_path, method: :get %>
        <% end %>
    <% end %>
</div>