<div id="confirmationModalMoreTime" class="modal fade mt-5" tabindex="-1">
  <div class="modal-dialog mt-5">
    <div class="modal-content bg-light">
      <div class="loading-delete-product p-5 hide">
        <div class="text-center">
          <p class="text-center font-weight-bold text-large"><%= t 'admin.shop_product.confirmation_message_more_time'%></p>
          <p class="text-center text-normal"><%= t 'admin.shop_product.confirmation' %></p>
        </div>
      </div>
      <div >
        <div class="modal-footer border-0 justify-content-center flex-nowrap">
          <button id="cancelRequestMoreTime" type="button" class="text-large btn-base -thin -normal" data-dismiss="modal"><%= t 'admin.shop_product.cancel' %></button>
          <button id="continueRequestMoreTime" type="button" class="text-large btn-base -thin -primary js-modal-close" data-dismiss="modal"><%= t 'admin.shop_product.confirm' %></button>
        </div>
      </div>
    </div>
  </div>
</div>