<div id="confirmationModal" class="modal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-confirmation">
    <div class="modal-content bg-light">
      <div class="modal-body pb-0">
        <p class="text-center font-weight-bold text-large"><%= t 'admin.shop_product.confirmation_message' %></p>
        <p class="text-center text-normal"><%= t 'admin.shop_product.confirmation' %></p>
      </div>
      <div class="modal-footer border-0 justify-content-center flex-nowrap">
        <button id="cancelChangeProduct" type="button" class="text-large btn-base -thin -normal" data-dismiss="modal"><%= t 'admin.shop_product.cancel' %></button>
        <button id="confirmChangeProduct" type="button" class="text-large btn-base -thin -primary"><%= t 'admin.shop_product.confirm' %></button>
      </div>
    </div>
  </div>
</div>
