<% content_for(:title, t('admin.shop_staff.edit_shop_staff')) %>
<div class="card">
  <%= form_with(model: @shop_staff, url: admin_shop_staff_path, local: true) do |form| %>
  <%= render 'form', {shop_staff: @shop_staff, f: form} %>
  <% end %>
</div>
