<% content_for(:title, t('console.tech_spec.edit_tech_spec')) %>

<div class="card">
  <%= form_with(model: @tech_spec, url: console_tech_spec_path, local: true) do |form| %>
    <%= render 'form', {tech_spec: @tech_spec, f: form} %>
  <% end %>
</div>
