<link rel="stylesheet"href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/styles/github.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

<div class="content-header">
  <div class="container-fluid">
    <div class="d-flex justify-content-between">
      <h1 class="text-page-title font-weight-bold m-0">OTORAJA STYLE GUIDELINE</h1>
    </div>
  </div>
</div>

<h2 class="text-large pt-3 pl-3">TYPOGRAPHY</h2>
<div class="card card-widget">
  <div class="card-body">
    <h1 class="text-page-title font-weight-bold">Page Title</h1>
    <pre class="p-0">
      <code class="px-4">
&lt;h1 class=&quot;text-page-title font-weight-bold&quot;&gt;Page Title&lt;/h1&gt;
      </code>
    </pre>
    <h2 class="text-highlight font-weight-bold">Big Number Highlight</h2>
    <pre class="p-0">
      <code class="px-4">
&lt;h2 class=&quot;text-highlight font-weight-bold&quot;&gt;Big Number Highlight&lt;/h2&gt;
      </code>
    </pre>
    <h3 class="text-large font-weight-bold">Small Number Highlight</h3>
    <pre class="p-0">
      <code class="px-4">
&lt;h3 class=&quot;text-large font-weight-bold&quot;&gt;Small Number Highlight&lt;/h3&gt;
      </code>
    </pre>
    <h3 class="text-large">Section Title</h3>
    <pre class="p-0">
      <code class="px-4">
&lt;h3 class=&quot;text-large&quot;&gt;Section Title&lt;/h3&gt;
      </code>
    </pre>
    <p class="text-normal font-weight-bold">Default Medium text</p>
    <pre class="p-0">
      <code class="px-4">
&lt;p class=&quot;text-normal font-weight-bold&quot;&gt;Default Medium text&lt;/p&gt;
      </code>
    </pre>
    <p class="text-normal">Default Text</p>
    <pre class="p-0">
      <code class="px-4">
&lt;p class=&quot;text-normal&quot;&gt;Default Text&lt;/p&gt;
      </code>
    </pre>
    <p class="text-label font-weight-bold">Field Label Med</p>
    <pre class="p-0">
      <code class="px-4">
&lt;p class=&quot;text-label font-weight-bold&quot;&gt;Field Label Med&lt;/p&gt;
      </code>
    </pre>
    <p class="text-label">Field Label Reg</p>
    <pre class="p-0">
      <code class="px-4">
&lt;p class=&quot;text-label&quot;&gt;Field Label Reg&lt;/p&gt;
      </code>
    </pre>
    <p class="text-small">Smallest Text</p>
    <pre class="p-0">
      <code class="px-4">
&lt;p class=&quot;text-small&quot;&gt;Smallest Text&lt;/p&gt;
      </code>
    </pre>
  </div>
</div>

<h2 class="text-large pt-3 pl-3">COLORS</h2>
<div class="card card-widget">
  <div class="card-body">
    <p class="text-normal">If you want to use a color, specify a variable with a color code defined in the CSS.</p>
  　<div class="row">
      <div class="col-lg-6">
        <button type="button" class="btn color-graph-green text-light">graph green</button>
        <pre class="p-0">
          <code class="px-4">
.color-graph-green {
  background-color: $color_graph_green;
}
          </code>
        </pre>
      </div>
      <div class="col-lg-6">
        <button type="button" class="btn color-graph-blue text-light">graph blue</button>
        <pre class="p-0">
          <code class="px-4">
.color-graph-blue {
  background-color: $color_graph_blue;
}
          </code>
        </pre>
      </div>
      <div class="col-lg-6">
        <button type="button" class="btn color-graph-gray text-light">graph gray</button>
        <pre class="p-0">
          <code class="px-4">
.color-graph-gray {
  background-color: $color_graph_gray;
}
          </code>
        </pre>
      </div>
      <div class="col-lg-6">
        <button type="button" class="btn color-active text-light">active</button>
        <pre class="p-0">
          <code class="px-4">
.color-active {
  background-color: $color_active;
}
          </code>
        </pre>
      </div>
      <div class="col-lg-6">
        <button type="button" class="btn color-inactive text-light">inactive</button>
        <pre class="p-0">
          <code class="px-4">
.color-inactive {
  background-color: $color_inactive;
}
          </code>
        </pre>
      </div>
      <div class="col-lg-6">
        <button type="button" class="btn color-text-dark text-light">text dark</button>
        <pre class="p-0">
          <code class="px-4">
.color-text-dark {
  background-color: $color_text_dark;
}
          </code>
        </pre>
      </div>
      <div class="col-lg-6">
        <button type="button" class="btn color-text-secondary text-light">text secondary</button>
        <pre class="p-0">
          <code class="px-4">
.color-text-secondary {
  background-color: $color_text_secondary;
}
          </code>
        </pre>
      </div>
      <div class="col-lg-6">
        <button type="button" class="btn color-text-gray text-light">text gray</button>
        <pre class="p-0">
          <code class="px-4">
.color-text-gray {
  background-color: $color_text_gray;
}
          </code>
        </pre>
      </div>
      <div class="col-lg-6">
        <button type="button" class="btn color-text-inactive-button text-light">text inactive button</button>
        <pre class="p-0">
          <code class="px-4">
.color-text-inactive-button {
  background-color: $color_text_inactive_button;
}
          </code>
        </pre>
      </div>
      <div class="col-lg-6">
        <button type="button" class="btn color-text-table-header">text table header</button>
        <pre class="p-0">
          <code class="px-4">
.color-text-table-header {
  background-color: $color_text_table_header;
}
          </code>
        </pre>
      </div>
      <div class="col-lg-6">
        <button type="button" class="btn color-field-outline text-light">field outline</button>
        <pre class="p-0">
          <code class="px-4">
.color-field-outline {
  background-color: $color_field_outline;
}
          </code>
        </pre>
      </div>
      <div class="col-lg-6">
        <button type="button" class="btn color-highlight text-light">highlight</button>
        <pre class="p-0">
          <code class="px-4">
.color-highlight {
  background-color: $color_highlight;
}
          </code>
        </pre>
      </div>
      <div class="col-lg-6">
        <button type="button" class="btn color-remove text-light">remove</button>
        <pre class="p-0">
          <code class="px-4">
.color-remove {
  background-color: $color_remove;
}
          </code>
        </pre>
      </div>
      <div class="col-lg-6">
        <button type="button" class="btn color-status-ok text-light">status ok</button>
        <pre class="p-0">
          <code class="px-4">
.color-status-ok {
  background-color: $color_status_ok;
}
          </code>
        </pre>
      </div>
      <div class="col-lg-6">
        <button type="button" class="btn color-status-ng text-light">status ng</button>
        <pre class="p-0">
          <code class="px-4">
.color-status-ng {
  background-color: $color_status_ng;
}
          </code>
        </pre>
      </div>
      <div class="col-lg-6">
        <button type="button" class="btn color-status-warning text-light">status warning</button>
        <pre class="p-0">
          <code class="px-4">
.color-status-warning {
  background-color: $color_status_warning;
}
          </code>
        </pre>
      </div>
      <div class="col-lg-6">
        <button type="button" class="btn color-status-dark-gray text-light">status dark gray</button>
        <pre class="p-0">
          <code class="px-4">
.color-status-dark-gray {
  background-color: $color_status_dark_gray;
}
          </code>
        </pre>
      </div>
      <div class="col-lg-6">
        <button type="button" class="btn color-status-light-gray text-light">status light gray</button>
        <pre class="p-0">
          <code class="px-4">
.color-status-light-gray {
  background-color: $color_status_light_gray;
}
          </code>
        </pre>
      </div>
    </div>
  </div>
</div>

<h2 class="text-large pt-3 pl-3">ICONS</h2>
<div class="card card-widget">
  <div class="card-body">
  　<div class="row">
      <div class="col-lg-6">
        <p class="text-label"><i class="fas fa-th"></i> Dashboard</p>
        <pre class="p-0">
          <code class="px-4">
&lt;i class=&quot;fas fa-th&quot;&gt;&lt;/i&gt;
          </code>
        </pre>
      </div>
      <div class="col-lg-6">
        <p class="text-label"><i class="fas fa-chart-line"></i> Laporan Penjualan</p>
        <pre class="p-0">
          <code class="px-4">
&lt;i class=&quot;fas fa-chart-line&quot;&gt;&lt;/i&gt;
          </code>
        </pre>
      </div>
      <div class="col-lg-6">
        <p class="text-label"><i class="fas fa-bell"></i> Pemberitahuan</p>
        <pre class="p-0">
          <code class="px-4">
&lt;i class=&quot;fas fa-bell&quot;&gt;&lt;/i&gt;
          </code>
        </pre>
      </div>
      <div class="col-lg-6">
        <p class="text-label"><i class="fa fa-address-card"></i> Daftar Pelanggan</p>
        <pre class="p-0">
          <code class="px-4">
&lt;i class=&quot;fa fa-address-card&quot;&gt;&lt;/i&gt;
          </code>
        </pre>
      </div>
      <div class="col-lg-6">
        <p class="text-label"><i class="far fa-comment-dots"></i> Penilaian</p>
        <pre class="p-0">
          <code class="px-4">
&lt;i class=&quot;far fa-comment-dots&quot;&gt;&lt;/i&gt;
          </code>
        </pre>
      </div>
      <div class="col-lg-6">
        <p class="text-label"><i class="fas fa-cubes"></i> Inventaris Produk, Paket Penjualan</p>
        <pre class="p-0">
          <code class="px-4">
&lt;i class=&quot;fas fa-cubes&quot;&gt;&lt;/i&gt;
          </code>
        </pre>
      </div>
      <div class="col-lg-6">
        <p class="text-label"><i class="fas fa-file-import"></i> Import Database</p>
        <pre class="p-0">
          <code class="px-4">
&lt;i class=&quot;fas fa-file-import&quot;&gt;&lt;/i&gt;
          </code>
        </pre>
      </div>
      <div class="col-lg-6">
        <p class="text-label"><i class="fas fa-file-invoice"></i> Import Database</p>
        <pre class="p-0">
          <code class="px-4">
&lt;i class=&quot;fas fa-file-invoice&quot;&gt;&lt;/i&gt;
          </code>
        </pre>
      </div>
      <div class="col-lg-6">
        <p class="text-label"><i class="fas fa-clipboard"></i> Stok Opname</p>
        <pre class="p-0">
          <code class="px-4">
&lt;i class=&quot;fas fa-clipboard&quot;&gt;&lt;/i&gt;
          </code>
        </pre>
      </div>
      <div class="col-lg-6">
        <p class="text-label"><i class="fas fa-truck"></i> Daftar Supplier</p>
        <pre class="p-0">
          <code class="px-4">
&lt;i class=&quot;fas fa-truck&quot;&gt;&lt;/i&gt;
          </code>
        </pre>
      </div>
      <div class="col-lg-6">
        <p class="text-label"><i class="fa fa-dollar-sign"></i> Langganan</p>
        <pre class="p-0">
          <code class="px-4">
&lt;i class=&quot;fa fa-dollar-sign&quot;&gt;&lt;/i&gt;
          </code>
        </pre>
      </div>
      <div class="col-lg-6">
        <p class="text-label"><i class="fas fa-laptop-house"></i> Daftar Bengkel</p>
        <pre class="p-0">
          <code class="px-4">
&lt;i class=&quot;fas fa-laptop-house&quot;&gt;&lt;/i&gt;
          </code>
        </pre>
      </div>
      <div class="col-lg-6">
        <p class="text-label"><i class="fas fa-id-badge"></i> Pegawai</p>
        <pre class="p-0">
          <code class="px-4">
&lt;i class=&quot;fas fa-id-badge&quot;&gt;&lt;/i&gt;
          </code>
        </pre>
      </div>
      <div class="col-lg-6">
        <p class="text-label"><i class="fas fa-info"></i> Catatan Rilis, hint</p>
        <pre class="p-0">
          <code class="px-4">
&lt;i class=&quot;fas fa-info&quot;&gt;&lt;/i&gt;
          </code>
        </pre>
      </div>
      <div class="col-lg-6">
        <p class="text-label"><i class="fas fa-sign-out-alt"></i> Logout</p>
        <pre class="p-0">
          <code class="px-4">
&lt;i class=&quot;fas fa-sign-out-alt&quot;&gt;&lt;/i&gt;
          </code>
        </pre>
      </div>
      <div class="col-lg-6">
        <p class="text-label"><i class="fas fa-comment-alt"></i> Navbar message (alt)</p>
        <pre class="p-0">
          <code class="px-4">
&lt;i class=&quot;fas fa-comment-alt&quot;&gt;&lt;/i&gt;
          </code>
        </pre>
      </div>
      <div class="col-lg-6">
        <p class="text-label"><i class="fa fa-bars"></i> Menu</p>
        <pre class="p-0">
          <code class="px-4">
&lt;i class=&quot;fa fa-bars&quot;&gt;&lt;/i&gt;
          </code>
        </pre>
      </div>
      <div class="col-lg-6">
        <p class="text-label"><i class="far fa-comments"></i> Navbar message (legacy)</p>
        <pre class="p-0">
          <code class="px-4">
&lt;i class=&quot;far fa-comments&quot;&gt;&lt;/i&gt;
          </code>
        </pre>
      </div>
      <div class="col-lg-6">
        <p class="text-label"><i class="fas fa-chevron-up"></i> Chevron up (expanded)</p>
        <pre class="p-0">
          <code class="px-4">
&lt;i class=&quot;fas fa-chevron-up&quot;&gt;&lt;/i&gt;
          </code>
        </pre>
      </div>
      <div class="col-lg-6">
        <p class="text-label"><i class="fas fa-chevron-down d-inline-block"></i> Chevron down (contracted)<br>
          <span class="text-small">The chevron-down icon in the card-body class is normally hidden</span>
        </p>
        <pre class="p-0">
          <code class="px-4">
&lt;i class=&quot;fas fa-chevron-down&quot;&gt;&lt;/i&gt;
          </code>
        </pre>
      </div>
      <div class="col-lg-6">
        <p class="text-label"><i class="fas fa-chevron-left"></i> Chevron left (one previous page) </p>
        <pre class="p-0">
          <code class="px-4">
&lt;i class=&quot;fas fa-chevron-left&quot;&gt;&lt;/i&gt;
          </code>
        </pre>
      </div>
      <div class="col-lg-6">
        <p class="text-label"><i class="fas fa-chevron-right"></i> Chevron right (one next page) </p>
        <pre class="p-0">
          <code class="px-4">
&lt;i class=&quot;fas fa-chevron-right&quot;&gt;&lt;/i&gt;
          </code>
        </pre>
      </div>
      <div class="col-lg-6">
        <p class="text-label"><i class="fas fa-caret-up"></i> Dropdown (expanded)</p>
        <pre class="p-0">
          <code class="px-4">
&lt;i class=&quot;fas fa-caret-up&quot;&gt;&lt;/i&gt;
          </code>
        </pre>
      </div>
      <div class="col-lg-6">
        <p class="text-label"><i class="fas fa-caret-down"></i> Dropdown (contracted)</p>
        <pre class="p-0">
          <code class="px-4">
&lt;i class=&quot;fas fa-caret-down&quot;&gt;&lt;/i&gt;
          </code>
        </pre>
      </div>
      <div class="col-lg-6">
        <p class="text-label"><i class="fas fa-sort"></i> Sort</p>
        <pre class="p-0">
          <code class="px-4">
&lt;i class=&quot;fas fa-sort&quot;&gt;&lt;/i&gt;
          </code>
        </pre>
      </div>
      <div class="col-lg-6">
        <p class="text-label"><i class="fas fa-arrow-up"></i> Back to top, stock increase</p>
        <pre class="p-0">
          <code class="px-4">
&lt;i class=&quot;fas fa-arrow-up&quot;&gt;&lt;/i&gt;
          </code>
        </pre>
      </div>
      <div class="col-lg-6">
        <p class="text-label"><i class="fas fa-arrow-down"></i> Stock decrease</p>
        <pre class="p-0">
          <code class="px-4">
&lt;i class=&quot;fas fa-arrow-down&quot;&gt;&lt;/i&gt;
          </code>
        </pre>
      </div>
      <div class="col-lg-6">
        <p class="text-label icon-search"><i class="icon-search"></i> Search</p>
        <pre class="p-0">
          <code class="px-4">
&lt;i class=&quot;icon-search&quot;&gt;&lt;/i&gt;
          </code>
        </pre>
      </div>
      <div class="col-lg-6">
        <p class="text-label"><i class="fas fa-plus"></i> Add</p>
        <pre class="p-0">
          <code class="px-4">
&lt;i class=&quot;fas fa-plus&quot;&gt;&lt;/i&gt;
          </code>
        </pre>
      </div>
      <div class="col-lg-6">
        <p class="text-label"><i class="fas fa-edit"></i> Edit</p>
        <pre class="p-0">
          <code class="px-4">
&lt;i class=&quot;fas fa-edit&quot;&gt;&lt;/i&gt;
          </code>
        </pre>
      </div>
      <div class="col-lg-6">
        <p class="text-label"><i class="far fa-square"></i> Check box blank</p>
        <pre class="p-0">
          <code class="px-4">
&lt;i class=&quot;far fa-square&quot;&gt;&lt;/i&gt;
          </code>
        </pre>
      </div>
      <div class="col-lg-6">
        <p class="text-label"><i class="fas fa-check-square"></i> Check box selected</p>
        <pre class="p-0">
          <code class="px-4">
&lt;i class=&quot;fas fa-check-square&quot;&gt;&lt;/i&gt;
          </code>
        </pre>
      </div>
      <div class="col-lg-6">
        <p class="text-label"><i class="far fa-trash-alt"></i> Delete product</p>
        <pre class="p-0">
          <code class="px-4">
&lt;i class=&quot;far fa-trash-alt&quot;&gt;&lt;/i&gt;
          </code>
        </pre>
      </div>
      <div class="col-lg-6">
        <p class="text-label"><i class="fas fa-times"></i> Delete package item, Close modal</p>
        <pre class="p-0">
          <code class="px-4">
&lt;i class=&quot;fas fa-times&quot;&gt;&lt;/i&gt;
          </code>
        </pre>
      </div>
      <div class="col-lg-6">
        <p class="text-label"><i class="fas fa-eye"></i> View details</p>
        <pre class="p-0">
          <code class="px-4">
&lt;i class=&quot;fas fa-eye&quot;&gt;&lt;/i&gt;
          </code>
        </pre>
      </div>
      <div class="col-lg-6">
        <p class="text-label"><i class="fas fa-star"></i> Full star</p>
        <pre class="p-0">
          <code class="px-4">
&lt;i class=&quot;fas fa-star&quot;&gt;&lt;/i&gt;
          </code>
        </pre>
      </div>
      <div class="col-lg-6">
        <p class="text-label"><i class="fas fa-star-half"></i> Half star</p>
        <pre class="p-0">
          <code class="px-4">
&lt;i class=&quot;fas fa-star-half&quot;&gt;&lt;/i&gt;
          </code>
        </pre>
      </div>
      <div class="col-lg-6">
        <p class="text-label"><i class="fas fa-receipt"></i> View receipt</p>
        <pre class="p-0">
          <code class="px-4">
&lt;i class=&quot;fas fa-receipt&quot;&gt;&lt;/i&gt;
          </code>
        </pre>
      </div>
      <div class="col-lg-6">
        <p class="text-label"><i class="far fa-calendar-alt"></i> Date range</p>
        <pre class="p-0">
          <code class="px-4">
&lt;i class=&quot;far fa-calendar-alt&quot;&gt;&lt;/i&gt;
          </code>
        </pre>
      </div>
      <div class="col-lg-6">
        <p class="text-label"><i class="fas fa-calendar-day"></i> Date selector</p>
        <pre class="p-0">
          <code class="px-4">
&lt;i class=&quot;fas fa-calendar-day&quot;&gt;&lt;/i&gt;
          </code>
        </pre>
      </div>
      <div class="col-lg-6">
        <p class="text-label"><i class="fas fa-lock"></i> Lock (finalized Faktur or Stok Opname)</p>
        <pre class="p-0">
          <code class="px-4">
&lt;i class=&quot;fas fa-lock&quot;&gt;&lt;/i&gt;
          </code>
        </pre>
      </div>
      <div class="col-lg-6">
        <p class="text-label"><i class="fas fa-lock-open"></i> Unlocked</p>
        <pre class="p-0">
          <code class="px-4">
&lt;i class=&quot;fas fa-lock-open&quot;&gt;&lt;/i&gt;
          </code>
        </pre>
      </div>
      <div class="col-lg-6">
        <p class="text-label"><i class="fas fa-exclamation-triangle"></i> Warning</p>
        <pre class="p-0">
          <code class="px-4">
&lt;i class=&quot;fas fa-exclamation-triangle&quot;&gt;&lt;/i&gt;
          </code>
        </pre>
      </div>
      <div class="col-lg-6">
        <p class="text-label"><i class="icon-forbid"></i> Not Applicable</p>
        <pre class="p-0">
          <code class="px-4">
&lt;i class=&quot;icon-forbid&quot;&gt;&lt;/i&gt;
          </code>
        </pre>
      </div>
      <div class="col-lg-6">
        <p class="text-label"><i class="fas fa-file-export"></i> Export</p>
        <pre class="p-0">
          <code class="px-4">
&lt;i class=&quot;fas fa-file-export&quot;&gt;&lt;/i&gt;
          </code>
        </pre>
      </div>
      <div class="col-lg-6">
        <p class="text-label"><i class="fas fa-sliders-h"></i> Settings</p>
        <pre class="p-0">
          <code class="px-4">
&lt;i class=&quot;fas fa-sliders-h&quot;&gt;&lt;/i&gt;
          </code>
        </pre>
      </div>
      <div class="col-lg-6">
        <p class="text-label"><i class="icon-placeholder"></i> Generic placeholder for icon</p>
        <pre class="p-0">
          <code class="px-4">
&lt;i class=&quot;icon-placeholder&quot;&gt;&lt;/i&gt;
          </code>
        </pre>
      </div>
      <div class="col-lg-6">
        <p class="text-label"><i class="fas fa-envelope"></i> Navbar message (adminlte ori)</p>
        <pre class="p-0">
          <code class="px-4">
&lt;i class=&quot;fas fa-envelope&quot;&gt;&lt;/i&gt;
          </code>
        </pre>
      </div>
      <div class="col-lg-6">
        <p class="text-label"><i class="fa fa-home"></i> Home</p>
        <pre class="p-0">
          <code class="px-4">
&lt;i class=&quot;fa fa-home&quot;&gt;&lt;/i&gt;
          </code>
        </pre>
      </div>
      <div class="col-lg-6">
        <p class="text-label"><i class="fas fa-motorcycle"></i> Motorcycle</p>
        <pre class="p-0">
          <code class="px-4">
&lt;i class=&quot;fas fa-motorcycle&quot;&gt;&lt;/i&gt;
          </code>
        </pre>
      </div>
      <div class="col-lg-6">
        <p class="text-label"><i class="fa fa-user"></i> User</p>
        <pre class="p-0">
          <code class="px-4">
&lt;i class=&quot;fa fa-user&quot;&gt;&lt;/i&gt;
          </code>
        </pre>
      </div>
      <div class="col-lg-6">
        <p class="text-label"><i class="fas fa-check"></i> Check</p>
        <pre class="p-0">
          <code class="px-4">
&lt;i class=&quot;fas fa-check&quot;&gt;&lt;/i&gt;
          </code>
        </pre>
      </div>
      <div class="col-lg-6">
        <p class="text-label"><i class="fas fa-tasks"></i> Check list</p>
        <pre class="p-0">
          <code class="px-4">
&lt;i class=&quot;fas fa-tasks&quot;&gt;&lt;/i&gt;
          </code>
        </pre>
      </div>
      <div class="col-lg-6">
        <p class="text-label"><i class="fas fa-calendar-alt"></i> Calendar (alternate)</p>
        <pre class="p-0">
          <code class="px-4">
&lt;i class=&quot;fas fa-calendar-alt&quot;&gt;&lt;/i&gt;
          </code>
        </pre>
      </div>
      <div class="col-lg-6">
        <p class="text-label"><i class="fas fa-boxes"></i> Package</p>
        <pre class="p-0">
          <code class="px-4">
&lt;i class=&quot;fas fa-boxes&quot;&gt;&lt;/i&gt;
          </code>
        </pre>
      </div>
      <div class="col-lg-6">
        <p class="text-label"><i class="fas fa-angle-double-left"></i> Skip to first page</p>
        <pre class="p-0">
          <code class="px-4">
&lt;i class=&quot;fas fa-angle-double-left&quot;&gt;&lt;/i&gt;
          </code>
        </pre>
      </div>
      <div class="col-lg-6">
        <p class="text-label"><i class="fas fa-angle-double-right"></i> Skip to final page</p>
        <pre class="p-0">
          <code class="px-4">
&lt;i class=&quot;fas fa-angle-double-right&quot;&gt;&lt;/i&gt;
          </code>
        </pre>
      </div>
      <div class="col-lg-6">
        <p class="text-label"><i class="fas fa-map-marker-alt"></i> Location</p>
        <pre class="p-0">
          <code class="px-4">
&lt;i class=&quot;fas fa-map-marker-alt&quot;&gt;&lt;/i&gt;
          </code>
        </pre>
      </div>
      <div class="col-lg-6">
        <p class="text-label"><i class="fas fa-toggle-on"></i> Toggle active (alternate)</p>
        <pre class="p-0">
          <code class="px-4">
&lt;i class=&quot;fas fa-toggle-on&quot;&gt;&lt;/i&gt;
          </code>
        </pre>
      </div>
      <div class="col-lg-6">
        <p class="text-label"><i class="fas fa-toggle-off"></i> Toggle inactive (alternate)</p>
        <pre class="p-0">
          <code class="px-4">
&lt;i class=&quot;fas fa-toggle-off&quot;&gt;&lt;/i&gt;
          </code>
        </pre>
      </div>
      <div class="col-lg-6">
        <p class="text-label"><i class="fas fa-columns"></i> Table, column</p>
        <pre class="p-0">
          <code class="px-4">
&lt;i class=&quot;fas fa-columns&quot;&gt;&lt;/i&gt;
          </code>
        </pre>
      </div>
      <div class="col-lg-6">
        <p class="text-label"><i class="fas fa-warehouse"></i> Warehouse</p>
        <pre class="p-0">
          <code class="px-4">
&lt;i class=&quot;fas fa-warehouse&quot;&gt;&lt;/i&gt;
          </code>
        </pre>
      </div>
      <div class="col-lg-6">
        <p class="text-label"><i class="fas fa-id-card-alt"></i> Employee</p>
        <pre class="p-0">
          <code class="px-4">
&lt;i class=&quot;fas fa-id-card-alt&quot;&gt;&lt;/i&gt;
          </code>
        </pre>
      </div>
      <div class="col-lg-6">
        <p class="text-label"><%= image_tag  'LS-icon-count.svg', class: 'img-responsive' %> Not Count</p>
        <pre class="p-0">
          <code class="px-4">
&lt;img class=&quot;img-responsive&quot; src=&quot;assets/images/LS-icon-count.svg&quot; &gt;
          </code>
        </pre>
      </div>
      <div class="col-lg-6">
        <p class="text-label"><%= image_tag  'ls-undo.svg', class: 'img-responsive' %> Not Count</p>
        <pre class="p-0">
          <code class="px-4">
&lt;img class=&quot;img-responsive&quot; src=&quot;assets/images/ls-undo.svg&quot; &gt;
          </code>
        </pre>
      </div>
    </div>
  </div>
</div>

<h2 class="text-large pt-3 pl-3">BUTTONS</h2>
<div class="card card-widget">
  <div class="card-body">

    <p class="text-label font-weight-bold">Tab List</p>
    <ul class="nav nav-tabs tablist" role="tablist">
      <li class="nav-item">
        <a class="text-large nav-link active" data-toggle="tab" role="tab" aria-selected="true">ACTIVE TAB</a>
      </li>
      <li class="nav-item">
        <a class="text-large nav-link" data-toggle="tab" role="tab" aria-selected="false">INACTIVE TAB</a>
      </li>
    </ul>
    <pre class="p-0">
      <code class="px-4">
&lt;ul class=&quot;nav nav-tabs tablist&quot; role=&quot;tablist&quot;&gt;
  &lt;li class=&quot;nav-item&quot;&gt;
    &lt;a class=&quot;text-large nav-link active&quot; data-toggle=&quot;tab&quot; role=&quot;tab&quot; aria-selected=&quot;true&quot;&gt;ACTIVE TAB&lt;/a&gt;
  &lt;/li&gt;
  &lt;li class=&quot;nav-item&quot;&gt;
    &lt;a class=&quot;text-large nav-link&quot; data-toggle=&quot;tab&quot; role=&quot;tab&quot; aria-selected=&quot;false&quot;&gt;INACTIVE TAB&lt;/a&gt;
  &lt;/li&gt;
&lt;/ul&gt;
      </code>
    </pre>

    <p class="text-label font-weight-bold">Graph toggle(active / inactive)</p>
    <div id="revenue-legend">
      <ul class="0-legend">
        <li class="badge badge-pill badge-secondary text-normal font-weight-bold">
          <span></span>Graph
        </li>
        <li class="badge badge-pill badge-secondary hidden text-normal font-weight-bold">
          <span></span>Graph
        </li>
      </ul>
    </div>
    <pre class="p-0">
      <code class="px-4">
&lt;div id=&quot;revenue-legend&quot;&gt;
  &lt;ul class=&quot;0-legend&quot;&gt;
    &lt;li class=&quot;badge badge-pill badge-secondary text-normal font-weight-bold&quot;&gt;
      &lt;span&gt;&lt;/span&gt;Graph
    &lt;/li&gt;
    &lt;li class=&quot;badge badge-pill badge-secondary hidden text-normal font-weight-bold&quot;&gt;
      &lt;span&gt;&lt;/span&gt;Graph
    &lt;/li&gt;
  &lt;/ul&gt;
&lt;/div&gt;
      </code>
    </pre>

    <p class="text-label font-weight-bold">Toggle</p>
    <div>
      <input id="is_use" name="is_use" type="checkbox" name="availability" data-on="On" data-off="Off" checked data-toggle="toggle">
    </div>
    <pre class="p-0">
      <code class="px-4">
&lt;input id=&quot;is_use&quot; name=&quot;is_use&quot; type=&quot;checkbox&quot; name=&quot;availability&quot; data-on=&quot;On&quot; data-off=&quot;Off&quot; checked data-toggle=&quot;toggle&quot;&gt;
      </code>
    </pre>

    <p class="text-label font-weight-bold">Button</p>
    <button name="button" type="button" class="btn button-active">
      <span class="text-large">Button</span>
    </button>
    <pre class="p-0">
      <code class="px-4">
&lt;button name=&quot;button&quot; type=&quot;button&quot; class=&quot;btn button-active&quot;&gt;
  &lt;span class=&quot;text-large&quot;&gt;Button&lt;/span&gt;
&lt;/button&gt;
      </code>
    </pre>

    <button name="button" type="button" class="btn button-inactive">
      <span class="text-large">Button</span>
    </button>
    <pre class="p-0">
      <code class="px-4">
&lt;button name=&quot;button&quot; type=&quot;button&quot; class=&quot;btn button-inactive&quot;&gt;
  &lt;span class=&quot;text-large&quot;&gt;Button&lt;/span&gt;
&lt;/button&gt;
      </code>
    </pre>
    <button name="button" type="button" class="btn button-secondary-active">
      <span class="text-large">Button</span>
    </button>
    <pre class="p-0">
      <code class="px-4">
&lt;button name=&quot;button&quot; type=&quot;button&quot; class=&quot;btn button-secondary-active&quot;&gt;
  &lt;span class=&quot;text-large&quot;&gt;Button&lt;/span&gt;
&lt;/button&gt;
      </code>
    </pre>
    <button name="button" type="button" class="btn button-seconry-inactive">
      <span class="text-large">Button</span>
    </button>
        <pre class="p-0">
      <code class="px-4">
&lt;button name=&quot;button&quot; type=&quot;button&quot; class=&quot;btn button-seconry-inactive&quot;&gt;
  &lt;span class=&quot;text-large&quot;&gt;Button&lt;/span&gt;
&lt;/button&gt;
      </code>
    </pre>
    <button name="button" type="button" class="btn button-tertinary-active">
      <span class="text-large">Button</span>
    </button>
        <pre class="p-0">
      <code class="px-4">
&lt;button name=&quot;button&quot; type=&quot;button&quot; class=&quot;btn button-tertinary-active&quot;&gt;
  &lt;span class=&quot;text-large&quot;&gt;Button&lt;/span&gt;
&lt;/button&gt;
      </code>
    </pre>
    <button name="button" type="button" class="btn button-secondary-active">
      <span class="text-large"><i class="fas fa-plus"></i> Button</span>
    </button>
        <pre class="p-0">
      <code class="px-4">
&lt;button name=&quot;button&quot; type=&quot;button&quot; class=&quot;btn button-secondary-active&quot;&gt;
  &lt;span class=&quot;text-large&quot;&gt;&lt;i class=&quot;fas fa-plus&quot;&gt;&lt;/i&gt; Button&lt;/span&gt;
&lt;/button&gt;
      </code>
    </pre>
    <button name="button" type="button" class="btn button-inactive">
      <span class="text-large"><i class="fas fa-plus"></i> Button</span>
    </button>
        <pre class="p-0">
      <code class="px-4">
&lt;button name=&quot;button&quot; type=&quot;button&quot; class=&quot;btn button-inactive&quot;&gt;
  &lt;span class=&quot;text-large&quot;&gt;&lt;i class=&quot;fas fa-plus&quot;&gt;&lt;/i&gt; Button&lt;/span&gt;
&lt;/button&gt;
      </code>
    </pre>

    <p class="text-label font-weight-bold">Text Link</p>
    <a href="#" class="large-link">Link</a>
    <pre class="p-0">
      <code class="px-4">
&lt;a href=&quot;#&quot; class=&quot;large-link&quot;&gt;Link&lt;/a&gt;
      </code>
    </pre>

    <p class="text-label font-weight-bold">Navbar</p>
    <div style="width: 800px; background: #E5E5E5; padding: 35px;">
      <nav class="main-header navbar navbar-expand bg-white navbar-light border-bottom" style="margin: 0px;">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#"><i class="fa fa-bars"></i></a>
          </li>
        </ul>

        <!-- Right navbar links -->
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown show">
              <a class="nav-link" data-toggle="dropdown" href="#" aria-expanded="false">
                <i class="far fa-comments"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                <a class="dropdown-item dropdown-footer" href="/admin/notifications">See All Messages</a>
              </div>
            </li>
          <li class="nav-item">
            <span class="nav-link">DevMotorManager</span>
          </li>
        </ul>
      </nav>
    </div>
    <pre class="p-0">
      <code class="px-4">
&lt;nav class=&quot;main-header navbar navbar-expand bg-white navbar-light border-bottom&quot; style=&quot;margin: 0px;&quot;&gt;
  &lt;!-- Left navbar links --&gt;
  &lt;ul class=&quot;navbar-nav&quot;&gt;
    &lt;li class=&quot;nav-item&quot;&gt;
      &lt;a class=&quot;nav-link&quot; data-widget=&quot;pushmenu&quot; href=&quot;#&quot;&gt;&lt;i class=&quot;fa fa-bars&quot;&gt;&lt;/i&gt;&lt;/a&gt;
    &lt;/li&gt;
  &lt;/ul&gt;

  &lt;!-- Right navbar links --&gt;
  &lt;ul class=&quot;navbar-nav ml-auto&quot;&gt;
    &lt;li class=&quot;nav-item dropdown show&quot;&gt;
        &lt;a class=&quot;nav-link&quot; data-toggle=&quot;dropdown&quot; href=&quot;#&quot; aria-expanded=&quot;false&quot;&gt;
          &lt;i class=&quot;far fa-comments&quot;&gt;&lt;/i&gt;
        &lt;/a&gt;
        &lt;div class=&quot;dropdown-menu dropdown-menu-lg dropdown-menu-right&quot;&gt;
          &lt;a class=&quot;dropdown-item dropdown-footer&quot; href=&quot;/admin/notifications&quot;&gt;See All Messages&lt;/a&gt;
        &lt;/div&gt;
      &lt;/li&gt;
    &lt;li class=&quot;nav-item&quot;&gt;
      &lt;span class=&quot;nav-link&quot;&gt;DevMotorManager&lt;/span&gt;
    &lt;/li&gt;
  &lt;/ul&gt;
&lt;/nav&gt;
      </code>
    </pre>

    <p class="text-label font-weight-bold">Delete item (active & inactive)</p>
    <div>
      <a class="btn-circle-default" href="#">
        <i class="fas fa-trash-alt"></i>
      </a>
      <a class="btn-circle-inactive" href="#">
        <i class="fas fa-trash-alt"></i>
      </a>
      <pre class="p-0">
        <code class="px-4">
&lt;a class=&quot;btn-circle-default&quot; href=&quot;#&quot;&gt;
  &lt;i class=&quot;fas fa-trash-alt&quot;&gt;&lt;/i&gt;
&lt;/a&gt;
&lt;a class=&quot;btn-circle-inactive&quot; href=&quot;#&quot;&gt;
  &lt;i class=&quot;fas fa-trash-alt&quot;&gt;&lt;/i&gt;
&lt;/a&gt;
        </code>
      </pre>
    </div>

    <p class="text-label font-weight-bold">Add item (active, added, & inactive)</p>
    <div>
      <button name="button" type="button" class="btn-circle-primary">
        <i class="icon icon-Plus"></i>
      </button>
      <button name="button" type="button" class="btn-circle-default">
        <i class="icon icon-Plus"></i>
      </button>
      <button name="button" type="button" class="btn-circle-inactive">
        <i class="icon icon-Plus"></i>
      </button>
    </div>
    <pre class="p-0">
      <code class="px-4">
&lt;button name=&quot;button&quot; type=&quot;button&quot; class=&quot;btn-circle-primary&quot;&gt;
  &lt;i class=&quot;icon icon-Plus&quot;&gt;&lt;/i&gt;
&lt;/button&gt;
&lt;button name=&quot;button&quot; type=&quot;button&quot; class=&quot;btn-circle-default&quot;&gt;
  &lt;i class=&quot;icon icon-Plus&quot;&gt;&lt;/i&gt;
&lt;/button&gt;
&lt;button name=&quot;button&quot; type=&quot;button&quot; class=&quot;btn-circle-inactive&quot;&gt;
  &lt;i class=&quot;icon icon-Plus&quot;&gt;&lt;/i&gt;
&lt;/button&gt;
      </code>
    </pre>

    <p class="text-label font-weight-bold">Edit item (active & inactive)</p>
    <div>
      <a class="btn btn-primary" href="#">
        <i class="fas fa-edit"></i>
      </a>
      <a class="btn button-icon-inactive" href="#">
        <i class="fas fa-edit"></i>
      </a>
    </div>
    <pre class="p-0">
      <code class="px-4">
&lt;a class=&quot;btn btn-primary&quot; href=&quot;#&quot;&gt;
  &lt;i class=&quot;fas fa-edit&quot;&gt;&lt;/i&gt;
&lt;/a&gt;
&lt;a class=&quot;btn button-icon-inactive&quot; href=&quot;#&quot;&gt;
  &lt;i class=&quot;fas fa-edit&quot;&gt;&lt;/i&gt;
&lt;/a&gt;
      </code>
    </pre>

    <p class="text-label font-weight-bold">Remove package item (active & inactive)</p>
    <div>
      <a class="btn btn-danger" href="#">
        <i class="fas fas fa-times"></i>
      </a>
      <a class="btn button-icon-inactive" href="#">
        <i class="fas fas fa-times"></i>
      </a>
    </div>
    <pre class="p-0">
      <code class="px-4">
&lt;a class=&quot;btn btn-danger&quot; href=&quot;#&quot;&gt;
  &lt;i class=&quot;fas fas fa-times&quot;&gt;&lt;/i&gt;
&lt;/a&gt;
&lt;a class=&quot;btn button-icon-inactive&quot; href=&quot;#&quot;&gt;
  &lt;i class=&quot;fas fas fa-times&quot;&gt;&lt;/i&gt;
&lt;/a&gt;
      </code>
    </pre>

    <p class="text-label font-weight-bold">View detail (active & inactive)</p>
    <div>
      <a class="btn btn-primary" href="#">
        <i class="fas fa-eye"></i>
      </a>
      <a class="btn button-icon-inactive" href="#">
        <i class="fas fa-eye"></i>
      </a>
    </div>
    <pre class="p-0">
      <code class="px-4">
&lt;a class=&quot;btn btn-primary&quot; href=&quot;#&quot;&gt;
  &lt;i class=&quot;fas fa-eye&quot;&gt;&lt;/i&gt;
&lt;/a&gt;
&lt;a class=&quot;btn button-icon-inactive&quot; href=&quot;#&quot;&gt;
  &lt;i class=&quot;fas fa-eye&quot;&gt;&lt;/i&gt;
&lt;/a&gt;
      </code>
    </pre>
    
    <p class="text-label font-weight-bold">Subscribe (active & inactive)</p>
    <div>
      <a class="btn button-subscribe-active" href="#">SUB</a>
      <a class="btn button-icon-inactive" href="#">SUB</a>
    </div>
    <pre class="p-0">
      <code class="px-4">
&lt;a class=&quot;btn button-subscribe-active&quot; href=&quot;#&quot;&gt;SUB&lt;/a&gt;
&lt;a class=&quot;btn button-icon-inactive&quot; href=&quot;#&quot;&gt;SUB&lt;/a&gt;
      </code>
    </pre>

    <p class="text-label font-weight-bold">Receipt view or download (active & inactive)</p>
    <div>
      <a class="btn btn-primary" href="#">
        <i class="fas fa-receipt"></i>
      </a>
      <a class="btn button-icon-inactive" href="#">
        <i class="fas fa-receipt"></i>
      </a>
    </div>
    <pre class="p-0">
      <code class="px-4">
&lt;a class=&quot;btn btn-primary&quot; href=&quot;#&quot;&gt;
  &lt;i class=&quot;fas fa-receipt&quot;&gt;&lt;/i&gt;
&lt;/a&gt;
&lt;a class=&quot;btn button-icon-inactive&quot; href=&quot;#&quot;&gt;
  &lt;i class=&quot;fas fa-receipt&quot;&gt;&lt;/i&gt;
&lt;/a&gt;
      </code>
    </pre>
  </div>
</div>

<h2 class="text-large pt-3 pl-3">FIELDS</h2>
<div class="card card-widget">
  <div class="card-body">
    <p class="text-label font-weight-bold">Text Field</p>
    <input type="text" name="text-field" value="" class="form-control w-100" autocomplete="off" placeholder="Devmotor">
    <pre class="p-0">
      <code class="px-4">
&lt;input type=&quot;text&quot; name=&quot;text-field&quot; value=&quot;&quot; class=&quot;form-control w-100&quot; autocomplete=&quot;off&quot; placeholder=&quot;Devmotor&quot;&gt;
      </code>
    </pre>

    <p class="text-label font-weight-bold">Number field</p>
    <input type="number" name="search" value="" class="form-control w-100 text-right" autocomplete="off" placeholder="123">
    <pre class="p-0">
      <code class="px-4">
&lt;input type=&quot;number&quot; name=&quot;search&quot; value=&quot;&quot; class=&quot;form-control w-100 text-right&quot; autocomplete=&quot;off&quot; placeholder=&quot;123&quot;&gt;
      </code>
    </pre>

    <p class="text-label font-weight-bold">Search Field</p>
    <div class="form-group search-field">
      <input type="text" name="search" id="search" value="" class="form-control" autocomplete="off" placeholder="Search">
      <i id="search-clear-btn" class="icon icon-Cross search-with-clear clear"></i>
      <i id="search-btn" class="icon icon-Search search-with-clear"></i>
    </div>
    <pre class="p-0">
      <code class="px-4">
&lt;div class=&quot;form-group search-field&quot;&gt;
  &lt;input type=&quot;text&quot; name=&quot;search&quot; id=&quot;search&quot; value=&quot;&quot; class=&quot;form-control&quot; autocomplete=&quot;off&quot; placeholder=&quot;Search&quot;&gt;
  &lt;i id=&quot;search-clear-btn&quot; class=&quot;icon icon-Cross search-with-clear clear&quot;&gt;&lt;/i&gt;
  &lt;i id=&quot;search-btn&quot; class=&quot;icon icon-Search search-with-clear&quot;&gt;&lt;/i&gt;
&lt;/div&gt;
      </code>
    </pre>

    <p class="text-label font-weight-bold">Price field</p>
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text form-control color-text-table-header">Rp</div>
      </div>
      <input name="price" type="number" class="product_unit_price_edit form-control text-right">
    </div>
    <pre class="p-0">
      <code class="px-4">
&lt;div class=&quot;input-group&quot;&gt;
  &lt;div class=&quot;input-group-prepend&quot;&gt;
    &lt;div class=&quot;input-group-text form-control color-text-table-header&quot;&gt;Rp&lt;/div&gt;
  &lt;/div&gt;
  &lt;input name=&quot;price&quot; type=&quot;number&quot; class=&quot;product_unit_price_edit form-control text-right&quot;&gt;
&lt;/div&gt;
      </code>
    </pre>

    <p class="text-label font-weight-bold">Drop down</p>
    <select class="form-control form-control-sm" id="dropdown">
      <option value="1">Item1</option>
      <option value="2">Item2</option>
      <option value="3">Item3</option>
    </select>
    <script>
      $('#dropdown').select2({
        minimumResultsForSearch: -1
      });
    </script>
    <pre class="p-0">
      <code class="px-4">
# HTML
&lt;select class=&quot;form-control form-control-sm&quot; id=&quot;dropdown&quot;&gt;
  &lt;option value=&quot;1&quot;&gt;Item1&lt;/option&gt;
  &lt;option value=&quot;2&quot;&gt;Item2&lt;/option&gt;
  &lt;option value=&quot;3&quot;&gt;Item3&lt;/option&gt;
&lt;/select&gt;

# JavaScript
$(&#039;#dropdown&#039;).select2({
  minimumResultsForSearch: -1
});
      </code>
    </pre>

    <p class="text-label font-weight-bold">Drop down with search box</p>
    <select class="form-control form-control-sm" id="dropdown-search-box">
      <option value="1">Item1</option>
      <option value="2">Item2</option>
      <option value="3">Item3</option>
    </select>
    <script>
      $('#dropdown-search-box').select2();
    </script>
    <pre class="p-0">
      <code class="px-4">
# HTML
&lt;select class=&quot;form-control form-control-sm&quot; id=&quot;dropdown-search-box&quot;&gt;
  &lt;option value=&quot;1&quot;&gt;Item1&lt;/option&gt;
  &lt;option value=&quot;2&quot;&gt;Item2&lt;/option&gt;
  &lt;option value=&quot;3&quot;&gt;Item3&lt;/option&gt;
&lt;/select&gt;

# JavaScript
$(&#039;#dropdown-search-box&#039;).select2();
      </code>
    </pre>

    <p class="text-label font-weight-bold">Disabled field</p>
    <input type="text" name="text-field" value="" class="form-control w-100" autocomplete="off" placeholder="Devmotor" disabled>
    <pre class="p-0">
      <code class="px-4">
&lt;input type=&quot;text&quot; name=&quot;text-field&quot; value=&quot;&quot; class=&quot;form-control w-100&quot; autocomplete=&quot;off&quot; placeholder=&quot;Devmotor&quot; disabled&gt;
      </code>
    </pre>

    <p class="text-label font-weight-bold">Date range selection</p>
    <button type="button" class="pull-down-btn d-block">
      <i class="far fa-calendar-alt mr-1"></i>
      <span>Last 7 Days</span>
    </button>
    <pre class="p-0">
      <code class="px-4">
&lt;button type=&quot;button&quot; class=&quot;pull-down-btn d-block&quot;&gt;
  &lt;i class=&quot;far fa-calendar-alt mr-1&quot;&gt;&lt;/i&gt;
  &lt;span&gt;Last 7 Days&lt;/span&gt;
&lt;/button&gt;
      </code>
    </pre>

    <p class="text-label font-weight-bold">Date input</p>
    <button type="button" class="pull-down-btn d-block">
      <i class="fas fa-calendar-day mr-1"></i>
      <span>dd-mm-yy</span>
    </button>
    <pre class="p-0">
      <code class="px-4">
&lt;button type=&quot;button&quot; class=&quot;pull-down-btn d-block&quot;&gt;
  &lt;i class=&quot;fas fa-calendar-day mr-1&quot;&gt;&lt;/i&gt;
  &lt;span&gt;dd-mm-yy&lt;/span&gt;
&lt;/button&gt;
      </code>
    </pre>
  </div>
</div>

<h2 class="text-large pt-3 pl-3">CARD WIDGETS</h2>
<div class="card card-widget">
  <div class="card-header">
    <h3 class="card-title">Cards With Headings</h3>
  </div>
  <div class="card-body">
    <pre class="p-0">
      <code class="px-4">
&lt;div class=&quot;card card-widget&quot;&gt;
  &lt;div class=&quot;card-header&quot;&gt;
    &lt;h3 class=&quot;card-title&quot;&gt;Cards With Headings&lt;/h3&gt;
  &lt;/div&gt;
  &lt;div class=&quot;card-body&quot;&gt;&lt;/div&gt;
&lt;/div&gt;
      </code>
    </pre>
  </div>
</div>

<div class="card card-widget">
  <div class="card-header" data-card-widget="collapse">
    <h3 class="card-title">
      <i class="fas fa-chevron-down"></i>
      <i class="fas fa-chevron-up"></i>
      Expansion Card
    </h3>
  </div>
  <div class="card-body">
  <pre class="p-0">
    <code class="px-4">
&lt;div class=&quot;card card-widget&quot;&gt;
  &lt;div class=&quot;card-header&quot; data-card-widget=&quot;collapse&quot;&gt;
    &lt;h3 class=&quot;card-title&quot;&gt;
      &lt;i class=&quot;fas fa-chevron-down&quot;&gt;&lt;/i&gt;
      &lt;i class=&quot;fas fa-chevron-up&quot;&gt;&lt;/i&gt;
      Expansion Card
    &lt;/h3&gt;
  &lt;/div&gt;
  &lt;div class=&quot;card-body&quot;&gt;&lt;/div&gt;
&lt;/div&gt;
      </code>
    </pre>
  </div>
</div>

